# Save rosbags as binary or csv

In [ ]:
from aux.gpx_read import *
from aux.imu_read import *
from aux.lidar_read import *
from aux.navsat_read import *
from aux.px4_read import *
from aux.rosbag_aux import *
from aux.srr308_read import *

import datetime


test_num = 2
test_names = ['6m_1', '6m_2', '50m_1', '50m_2', '80m_1', '80m_2']
name = test_names[test_num]
folder_path = 'data/' + name
db3_reader = get_db3_reader(folder_path, 'ROSBAG*')
db3_px4_reader = get_db3_reader(folder_path, 'sensor_bag*')

# create all data frames to find the first timestamp to reference every other DF to
baro_df = get_baro_df_from_db3_reader(db3_px4_reader)
gyro_df = get_gyro_df_from_db3_reader(db3_px4_reader)
acc_df = get_acc_df_from_db3_reader(db3_px4_reader)
imu_df = get_imu_df_from_db3_reader(db3_px4_reader)
sc_df = get_sensor_combined_df_from_db3_reader(db3_px4_reader)
radar_df = get_srr308_pointcloud_df_from_db3_reader(db3_reader)
lidar_df = get_lidar_df_from_db3_reader(db3_reader)
vel_df = get_velocity_df_from_db3_reader(db3_reader)
baro_df = get_baro_df_from_db3_reader(db3_px4_reader)

Found ROS 2 bag: data/6m_1/ROSBAG_2025-04-28_11-44-43.536/ROSBAG_2025-04-28_11-44-43.536_0.db3
Found ROS 2 bag: data/6m_1/sensor_bag_20250428_114442/sensor_bag_20250428_114442_0.db3

[INFO] [1747220513.166729187] [rosbag2_storage]: Opened database 'data/6m_1/ROSBAG_2025-04-28_11-44-43.536/ROSBAG_2025-04-28_11-44-43.536_0.db3' for READ_ONLY.
[INFO] [1747220513.344451175] [rosbag2_storage]: Opened database 'data/6m_1/sensor_bag_20250428_114442/sensor_bag_20250428_114442_0.db3' for READ_ONLY.

In [3]:
radar_pkl = radar_df.to_pickle("pkl_bags/"+name+".pkl")
radar_df_unpickled = pd.read_pickle("pkl_bags/"+name+".pkl")
radar_df_unpickled.head()

,timestamp,timestamp_sample,points
0,1745833484111649280,1.745833e+09,"[[10.668014, -22.166494, 0.0]]"
1,1745833484130180634,1.745833e+09,"[[10.000174, -21.15553, 0.0]]"
2,1745833484156386832,1.745833e+09,"[[2.178052, 0.30998272, 0.0], [3.8760629, 0.98..."
3,1745833484168084280,1.745833e+09,"[[9.841427, -21.009195, 0.0]]"
4,1745833484180438655,1.745833e+09,"[[10.180786, -21.733652, 0.0]]"

In [4]:
radar_df.head()

,timestamp,timestamp_sample,points
0,1745833484111649280,1.745833e+09,"[[10.668014, -22.166494, 0.0]]"
1,1745833484130180634,1.745833e+09,"[[10.000174, -21.15553, 0.0]]"
2,1745833484156386832,1.745833e+09,"[[2.178052, 0.30998272, 0.0], [3.8760629, 0.98..."
3,1745833484168084280,1.745833e+09,"[[9.841427, -21.009195, 0.0]]"
4,1745833484180438655,1.745833e+09,"[[10.180786, -21.733652, 0.0]]"